.CreateAdv {

  &__param {
    margin-top: 10px;
  }

  &__btns {
    display: flex;
  }

  h2 {
    margin: 20px 0 15px 0
  }

  textarea {
    height: 100px;
    width: 100%;
    padding: 10px;
    border-radius: 10px ;
  }

  hr {
    margin: 20px;
  }
}
